@model MyFirstMVC.Controllers.AdminController.OrderAndUserViewModel

<!-- Your invoice layout and details here -->
<h1>Invoice</h1>
<p>Order ID: @Model.Order.Id</p>
<p>User Name: @Model.User.FirstName @Model.User.LastName</p>