@model MyFirstMVC.Models.User

@{
    ViewData["Title"] = "Sign Up";
}
<!-- inner banner start --> 
<section class="inner-banner flex-center" style="background-image: url('/img/bg/cleanitems.jpg');">
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">Sign Up</h1>
            </div>
            <div class="col-lg-5 text-center text-lg-right">
                <ul class="inner-bnr-nav">
                    <li>
                        <a href="#">Home </a>
                    </li>
                    <li>Sign Up</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- inner banner end -->
<!-- Login area start -->
<section class="login pt-100 pb-100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-7 col-lg-6 d-lg-block">
                <div class="login-image bg-cover h-100" style="background-image: url('/img/bg/about-vector.png');">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 ">
                <div class="form-area bg-blue">
                    <h2 class="f-700 mb-5 white">Create an Account</h2>
                    <p class="white">Quisque enim ipsum, commodo et venenatis rutrum, luctus in enim venenatis.</p>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="text" class="form-control input-lg input-white shadow-5" asp-for="FirstName" placeholder="First Name">
                            <i class="far fa-user transform-v-center"></i>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="text" class="form-control input-lg input-white shadow-5" asp-for="LastName" placeholder="Last Name">
                            <i class="far fa-envelope transform-v-center"></i>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group relative mb-20 mb-sm-20">
                            <input type="email" class="form-control input-lg input-white shadow-5" asp-for="Email" placeholder="Email">
                            <i class="fas fa-lock transform-v-center"></i>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="text" class="form-control input-lg input-white shadow-5" asp-for="Address" placeholder="Address">
                            <i class="far fa-user transform-v-center"></i>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="number" class="form-control input-lg input-white shadow-5" asp-for="PhoneNumber" placeholder="Phone Number">
                            <i class="far fa-envelope transform-v-center"></i>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group relative mb-20 mb-sm-20">
                            <input type="password" class="form-control input-lg input-white shadow-5" asp-for="Password" placeholder="Password">
                            <i class="fas fa-lock transform-v-center"></i>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="SIGNUP" class="btn btn-black btn-block mt-20"/>
                        </div>
                        <div class="signup-login text-center">
                            <p class="mt-15 fs-13 white">
                                Already a member?<a href="#" class="ml-5 mb-0 d-inline-block  white">Login</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login area end -->
<!-- cta start -->
<section class="cta-footer relative pt-35 pb-35 bg-blue">
    <div class="container">
        <div class="row align-items-center z-5">
            <div class="col-lg-5 text-center text-lg-left">
                <h2 class="white fs-40 f-700 mb-10">Get a Free Callback</h2>
                <p class="white mb-0 fs-16">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-7  text-center text-lg-right mt-md-15">
                <form action="#">
                    <div class="callback-footer-2 d-flex flex-column flex-sm-row">
                        <input type="text" class="form-control input-white shadow-2" placeholder="Your phone numner">
                        <a href="#" class="btn btn-black ml-20 ml-xs-00 mt-xs-15">Send Now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="img/other/clean.png" class="cta-cl-bg" alt="">
</section>
<!-- cta end -->
@*<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredDate" class="control-label"></label>
                <input asp-for="RegisteredDate" class="form-control" />
                <span asp-validation-for="RegisteredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
